.malloy-render_result-wrapper malloy-render::part(table-container) {
    width: 100%;   
}

.malloy-render_result-wrapper {
    height: 100%;
    position: 'relative';
    z-index: 0;
    overflow: hidden;
}